
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
}

body
{
    width: 100%;
    height: 100vh;
    background : #dedede;
    display: flex;
    align-items: center;
    justify-content: center;

}
header
{
    position: relative;
    width: 60%;
    height: 82%;
    background: #fff;
    box-shadow: 0px 0px 50px -1px rgb(0,0,0, .5);
    padding: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 1s linear;
}
header .logo
{
    position: absolute;
    top: 0;
    left: 10%;
    width: 190px;
    height: 290px;
    background: #282828;
    transition: 1s linear;
}
header .logo h1
{
   color: #fff;
   text-align: center;
   margin-top: 5px;
   font-size: 25px;
   font-weight: 600;
}
header .logo img
{
    width: 230px;
    margin: 30px 0px 5px -20px;
    filter: drop-shadow(0px 0px 20px rgb(0,0,0, .6));
}
header nav{
    width: 100%;
    height: 10%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav .menu
{
    font-size: 25px;
    color: black;

}
header nav .right_menu
{
    display: flex;
    align-items: center;
}
header nav .right_menu ul
{
    list-style-type: none;
    display: flex;
    align-items: center;
}
header nav .right_menu ul li
{
    padding: 3px 10px;
}
header nav .right_menu ul li a
{
    position: relative;
    text-decoration: none;
    font-size: 11px;
    font-weight: 600;
    color: black;
    transition: .3s linear;

}
header nav .right_menu ul li a::before
{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background: #dc1313;
    border-radius: 50%;
    bottom: -5px;
    left: 45%;
    opacity: 0;
    transition: .3s linear;
}

header nav .right_menu ul li a:hover
{
    color: #dc1313;
}
header nav .right_menu ul li a:hover::before
{
    opacity: 1;
}
header nav .right_menu .user_cart
{
    margin-left: 50px;
    display: flex;
    align-items: center;
}
header nav .right_menu .user_cart .user
{
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-left: 10px;
}
header nav .right_menu .user_cart .user img
{
    width: 100%;
}
header nav .right_menu .user_cart .user::before
{
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #dc1313;
    border-radius: 50%;
    top: 0;
    right: 0;
    z-index: 9999;

}
header .left_menu
{
    width: 20px;
    height: 90%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
header .left_menu a
{
    margin: 30px 0px;
    padding: 0px 5px;
    text-decoration: none;
    font-size: 10px;
    color: black;
    font-weight: 600;
    transition: .3s linear;
    transform: rotate(-90deg);
}
header .left_menu a:hover
{
    color: #dc1313;
}
header section
{
    width: 97%;
    height: 90%;
    /* border: 1px solid greenyellow; */
}
header section .content
{
    position: relative;
    left: 290px;
    margin-top: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    transition: 1s linear;

}
header section .content h1
{
    font-size: 30px;
    transition: 1s linear;
}
header section .content p
{
    font-size: 10px;
    font-weight: 500;
    width: 270px;
    word-break: break-all;
}
header section .content .price_order
{
    display: flex;
    align-items: center;
    margin-top: 1px;
}
header section .content .price_order .price h2
{
    font-size: 20px;
    color: #dc1313;
    line-height: 25px;

}
header section .content .price_order .price p
{
    font-size: 9px;
    width : 80px;
    border: 1px #000;
}
header section .content .price_order a
{
    padding: 4px 10px;
    background: #121213;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    margin-left: 25px;
}
header section .cards
{
    width: 95%;
    height: 120px;
    /* border: 1px solid #000; */
    position: relative;
    top: 18%;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    scroll-behavior: smooth;
    transition: 1s linear;
}
header section .cards::-webkit-scrollbar
{
   display: none;
}
header section .cards .card
{
    position: relative;
    min-width: 103px;
    min-height: 103px;
    border: 1px solid #000;
    margin-right: 13px;
    background: #282828;
    border-radius: 50px 10px 10px 10px;
}
header section .cards .card:nth-last-child(1)
{
    margin-right: 0px;
}
header section .cards .card .dis
{
    width: 65px;
    position: relative;
    top: -5px;
    left: -5px;
}
header section .cards .card .steam
{
    width: 60px;
    height: 80px;
    position: absolute;
    top: -35px;
    left: -5px;
}
header section .cards .card h4
{
    position: absolute;
    top: 20px;
    right: 10px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}
header section .cards .card h5
{
    color: #fff;
    font-size: 9px;
    font-family: 500;
    padding: 0px 10px;
    margin-top: -8px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
header section .cards .card p
{
    color: rgb(203, 203, 203);
    font-size: 9px;
    font-weight: 500;
    padding: 0px 10px;
}
header section .cards .card .rate_cart
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
    color: #fff;
}
header section .cards .card .rate_cart h6
{
    font-size: 10px;
}
header section .cards .card .rate_cart .bi
{
    font-size: 12px;
}
header section .social
{
    position: relative;
    width: 100%;
    /* border: 1px solid #000; */
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s linear;
}
header section .social .btns
{
    margin-left: 30px;
}
header section .social .btns .bi
{
    font-size: 13px;
    cursor: pointer;
    transition: .3s linear;
}
header section .social .btns .bi:hover
{
    color: rgb(0,0,0, .5);
}
header section .social .icons
{
    display: flex;
    align-items: center;
}
header section .social .icons a
{
    font-size: 12px;
    margin-left: 10px;
    color: #282828;
    transition: .3s linear;
}
header section .social .icons a:hover
{
    color: #000;
}
@media screen and (max-width: 1212px)
{
    header
    {
        position: relative;
        width: 83%;
    }
}